body {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    width: 100%;
    background-color: #FFFFDF; 
    font-family: 'Arsenal', monospace;
}

h1{
    text-align: center;
}

/* Навигационная панель */
.nav-bar {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 30px;
    z-index: 1000;

    text-align: right;
    background: #6bac55;
    border-bottom: 1px solid #ddd;
    font-family: 'Arsenal', monospace;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
}

.nav-links {
    display: inline-block;
}

.nav-links a {
    color: #feffb8;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.3s;
    font-weight: 500;
}

.nav-links a:hover {
    background-color: #4CAF50;
    color: white;
}

.nav-bar a {
    font-weight: 600;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
}

.period{
    text-align: center;
}

.chart-container h2{
    text-align: center;
}