{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/forms.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

<h2>Регистрация</h2>

<form method="post" class="register-form">
  {% csrf_token %}

  {% for field in form %}
    <div class="form-field">
      <label>{{ field.label }}</label>
      {{ field }}
      {% if field.errors %}
        <div class="error">{{ field.errors }}</div>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit">Зарегистрироваться</button>
</form>

</body>
</html>
