h2 {
  text-align: center;
  color: #333;
  margin: 50px auto 0 auto;
  display: block;
  width: fit-content; 
}

.register-form {
  max-width: 400px;
  margin: 25px auto;
}

.form-field {
  margin-bottom: 15px;
}  

label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
}

.error {
  color: red;
  font-size: 0.9em;
}

button {
  display: block;
  width: 50%;
  padding: 14px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 30px auto 0 auto;
  font-weight: 600;
}
